{% import 'depannage_bon_intervention/include/_prototypes.html.twig' as formMacro %}

{{ form_start(form) }}

    {{ form_row(form.client) }}
    {{ form_row(form.adresse) }}
<div class="row flex-column flex-md-row p-0">
    <div class="col-12 col-md-4 p-O">
        {{ form_row(form.codePostal) }}
    </div>
    <div class="col-12 col-md-8 p-O">
        {{ form_row(form.ville) }}
    </div>
</div>
<div class="row flex-column flex-md-row  p-0">
    <div class="col-12 col-md-6 p-O">
        {{ form_row(form.date) }}
    </div>
    <div class="col-12 col-md-6 p-O">
        {{ form_row(form.telephone) }}
    </div>
</div>

{{ form_row(form.personneAContacter) }}
{{ form_row(form.numInterClient) }}
{{ form_row(form.motifDepannage) }}
{{ form_row(form.sousGarantie) }}
{{ form_row(form.sousContrat) }}
{{ form_row(form.formule) }}
{{ form_row(form.numCode) }}

<h4 class="text-center">{{ form_label(form.depannageBonInterventionFournitures) }}</h4>
<div id="bonInterFournitures" data-prototype='{{ formMacro.printfourniture(form.depannageBonInterventionFournitures.vars.prototype)|e }}' data-widget-tags="<div class='item-fourniture'></div>" data-widget-conter="{{ form.depannageBonInterventionFournitures|length }}">
    {% for fourniture in form.depannageBonInterventionFournitures %}
        <div class="item-fourniture">
            {{ formMacro.printfourniture(fourniture) }}
        </div>
    {% endfor %}
</div>

<section class="text-center mb-5">
    <button type="button" class="btn btn-outline-success btn-sm add-another-collection-lien-widget add-fourniture-button" data-list-selector="#bonInterFournitures"><i class="fa fa-plus"></i></button>
</section>


{{ form_row(form.rapportTechnicien) }}
    {{ form_row(form.observationClient) }}


<div class="row flex-column flex-md-row mb-3">
    <div class="col-12 col-md-6 mb-md-3">

        {{ form_label(form.signatureClient) }}
        <div class="border col-12 mb-2 text-center">
            <img id="previewSignatureClient" src="{{ depannage_bon_intervention.signatureClient ? depannage_bon_intervention.signatureClient }}" alt=" " class="previewSignature">
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#modalSignatureClient">
                <i class="fa fa-pen"></i>
            </button>
        </div>
        <div class="d-none">
            {{ form_widget(form.signatureClient) }}
        </div>
        {{ form_row(form.nomSignataireClient) }}
        {{ form_row(form.qualiteSignataireClient) }}
    </div>
    <div class="col-12 col-md-6">
        {{ form_label(form.signatureTechnicien) }}<br>
        <div class="border col-12 mb-2 text-center">
            <img id="previewSignatureTechnicien" src="{{ depannage_bon_intervention.signatureTechnicien ? depannage_bon_intervention.signatureTechnicien }}" alt=" " class="previewSignature">
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#modalSignatureTechnicien">
                <i class="fa fa-pen"></i>
            </button>
        </div>
        <div class="d-none">
            {{ form_widget(form.signatureTechnicien) }}
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalSignatureClient" tabindex="-1" role="dialog" aria-labelledby="modalSignatureClient" aria-hidden="true">
    <div class="modal-dialog modal-xl  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Signature client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column align-items-center">
                <p>
                    <span class="font-weight-bold">IMPORTANT</span> : (A lire attentivement avant la signature)<br>
                    En signant :<br>
                    1°) Vous avez constaté le bon fonctionnement de votre installation frigorifique.<br>
                    2°) Vous avez contrôlé d’une part les fournitures et d’autres part le temps passé par notre spécialiste.<br>
                    Toute intervention est payable comptant à facturation.<br>
                </p>
                <div class="signature-pad">
                    <div class="signature-pad--body" style="height: 50vh;">
                        <canvas id="signatureClient" class="signature-pad--canvas w-100 h-100"></canvas>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-warning btn-sm clearButtonSignatureClient mt-2">&times;</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalSignatureTechnicien" tabindex="-1" role="dialog" aria-labelledby="modalSignatureTechnicien" aria-hidden="true">
    <div class="modal-dialog modal-xl  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Signature technicien</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column align-items-center">
                <div class="signature-pad">
                    <div class="signature-pad--body" style="height: 50vh;">
                        <canvas id="signatureTechnicien" class="signature-pad--canvas w-100 h-100"></canvas>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-warning btn-sm clearButtonSignatureTechnicien mt-2">&times;</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>


<div class="fixed-bottom-right">
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>
<div class="d-none">
    {{ form_rest(form) }}
</div>

{{ form_end(form) }}
