{% extends is_granted(ROLE_ADMIN) ? 'client/base_client.html.twig' : 'base.html.twig' %}


{% block title %}Factures entretiens{% endblock %}

{% block body %}
    <h2 class="text-center">Factures</h2>

    {{ include('factures/_menu_facture.html.twig') }}

    {% if is_granted(ROLE_ADMIN) %}
        <a href="{{ path('factures_facture_entretien_new', {client: client.id}) }}" class="btn btn-outline-success pull-right mb-2">Nouvelle facture</a>
    {% endif %}

    {{ include('factures/facture_entretien/include/_filtre_facture.html.twig') }}

    <div class="table-responsive mt-3">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th class="{% if facture_entretiens.isSorted('f.numero') %}sorted{% endif %}">
                    {{ knp_pagination_sortable(facture_entretiens, 'N°', 'f.numero') }}
                </th>
                <th class="{% if facture_entretiens.isSorted('f.date') %}sorted{% endif %}">
                    {{ knp_pagination_sortable(facture_entretiens, 'Date', 'f.date') }}
                </th>
                <th class="{% if facture_entretiens.isSorted('ca.nom') %}sorted{% endif %}">
                    {{ knp_pagination_sortable(facture_entretiens, 'Chargé d\'affaires', 'ca.nom') }}
                </th>
                <th class="{% if facture_entretiens.isSorted('f.numeroFactureClient') %}sorted{% endif %}">
                    {{ knp_pagination_sortable(facture_entretiens, 'Numéro facture client', 'f.numeroFactureClient') }}
                </th>
                <th class="text-center">Nombre d'entretiens</th>
                <th class="text-center">Montant</th>
                <th class="text-center {% if facture_entretiens.isSorted('f.isPaye') %}sorted{% endif %}">
                    {{ knp_pagination_sortable(facture_entretiens, 'Payée', 'f.isPaye') }}
                </th>
                <th class="text-center">PDF</th>
            </tr>
            </thead>
            <tbody>
            {# @var facture_entretien \App\Entity\Factures\\App\Entity\Factures\FactureEntretien #}
            {% for facture_entretien in facture_entretiens %}
                {% set nbEntretien = 0 %}
                {# @var ligne \App\Entity\Factures\FactureEntretienLigne #}
                {% for ligne in facture_entretien.factureLignes %}
                    {% if ligne.entretienOrigine %}
                        {% set nbEntretien = nbEntretien + 1 %}
                    {% endif %}
                {% endfor %}
                <tr class="row-href"
                        {% if is_granted(ROLE_ADMIN) %}
                            data-href="{{ path('factures_facture_entretien_show_admin', {id: facture_entretien.id, client: client.id}) }}"
                        {% else %}
                            data-href="{{ path('factures_facture_entretien_show', {id: facture_entretien.id}) }}"
                        {% endif %}
                >
                    <td>{{ facture_entretien.numero }}</td>
                    <td>{{ facture_entretien.date ? facture_entretien.date|date('d/m/Y à H\\hi') : '' }}</td>
                    <td>{{ facture_entretien.chargeAffaire.nomPrenom }}</td>
                    <td>{{ facture_entretien.numeroFactureClient }}</td>
                    <td class="text-center">{{ nbEntretien }}</td>
                    <th class="text-right white-space-nowrap">{{ facture_entretien.montantTTC|number_format(2, ',', ' ') }} €</th>
                    <td class="text-center">{{ facture_entretien.isPaye ? '<i class="fas fa-check"></i>' }}</td>
                    <td class="text-center"><a data-toggle="tooltip" title="Imprimer la facture" href="{{ url('factures_facture_entretien_pdf', {id: facture_entretien.id}) }}"><i class="fas fa-file-pdf"></i></a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%" class="text-center">Aucune facture trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(facture_entretiens) }}
    </div>

{% endblock %}
