{% extends is_granted(ROLE_ADMIN) ? 'client/base_client.html.twig' : 'base.html.twig' %}

{% block title %}Entretien{% endblock %}

{% block metaSocial %}
    {% if entretien %}
        {% if entretien.dateDebut %}
            {% set titre = 'Demande d\'entretien n°' ~ entretien.id ~ ' du ' ~ entretien.dateDebut|date('d/m/Y \\à H\\hi') %}
        {% else %}
            {% set titre = 'Demande d\'entretien n°' ~ entretien.id ~ ' du ' ~ entretien.dateDebut|date('d/m/Y \\à H\\hi') %}
        {% endif %}
        {% include 'layout/_meta_social.html.twig' with {title: titre, description: titre } %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    <h2 class="text-center">Entretien</h2>

    {% if is_granted(ROLE_ADMIN) %}
        <a href="{{ path('entretien_admin_index', {'client' : client.id}) }}" class="btn btn-secondary">Retour</a>
    {% else %}
        <a href="{{ path('entretien_index') }}" class="btn btn-secondary">Retour</a>
    {% endif %}

    {% if is_granted(ROLE_ADMIN) and entretien.statut.id in [STATUT_EN_ATTENTE, STATUT_VALIDE, STATUT_EN_COURS] %}
        <a href="{{ path('entretien_admin_edit', {'client': client.id, 'id': entretien.id}) }}"
           class="btn btn-outline-warning pull-right mb-2">Modifier</a>
    {% elseif is_granted(ROLE_CLIENT) and entretien.statut.id in [STATUT_EN_ATTENTE, STATUT_VALIDE, STATUT_EN_COURS] %}
        <a href="{{ path('entretien_edit', {'id': entretien.id}) }}" class="btn btn-outline-warning pull-right mb-2">Modifier</a>
    {% endif %}

    <div class="col-sm-12 col-md-10 mx-auto mt-3 d-flex {{ is_granted(ROLE_TECHNICIEN) ? 'flex-column-reverse' : 'flex-column' }}  flex-lg-row justify-content-between">
        {#    <div class="col-12 {{ formHoraire is defined  ? 'col-lg-8' }} ">#}
        <div class="col-12 {{ horaires is not empty or formHoraire is defined or is_granted(ROLE_ADMIN) or files is not empty ? 'col-lg-6' }} ">


            <table class="table table-sm">
                <tbody>
                <tr>
                    <th>N°</th>
                    <td>{{ entretien.id }}</td>
                </tr>
                <tr>
                    <th>Statut</th>
                    <td>{{ entretien.statut.libelle|capitalize }}</td>
                </tr>
                {% if entretien.statut.id == STATUT_ANNULE %}
                    <tr>
                        <th>Motif d'annulation</th>
                        <td>{{ entretien.motifAnnule }}</td>
                    </tr>
                {% endif %}
                {% if is_granted(ROLE_ADMIN) or is_granted(ROLE_TECHNICIEN) %}
                    <tr>
                        <th>Chargé d'affaires</th>
                        <td>
                            {% if is_granted(ROLE_ADMIN) %}
                                <a target="_blank" href="{{ url('user_show', {id: entretien.chargeAffaire.id, client: entretien.chargeAffaire.client.id}) }}">{{ entretien.chargeAffaire.nomPrenom }}</a>
                            {% else %}
                                {{ entretien.chargeAffaire.nomPrenom }}
                            {% endif %}
                        </td>
                    </tr>

                {% endif %}

                <tr>
                    <th>Enseigne</th>
                    <td>{{ entretien.enseigne.nom }}</td>
                </tr>
                <tr>
                    <th>Date de début</th>
                    <td>{{ entretien.dateDebut ? entretien.dateDebut|date('d/m/Y à H\\hi') : '' }}</td>
                </tr>
                <tr>
                    <th>Date de Fin</th>
                    <td>{{ entretien.dateFin ? entretien.dateFin|date('d/m/Y à H\\hi') : '' }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ entretien.type }}</td>
                </tr>
                <tr>
                    <th>Numero de contrat</th>
                    <td>{{ entretien.numeroContrat }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ entretien.codePostal ~ (entretien.codePostal ? ' ': '') ~ entretien.ville }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ entretien.adresse }}</td>
                </tr>
                <tr>
                    <th>Techniciens</th>
                    <td>
                        {% for technicien in entretien.techniciens %}
                            {% if is_granted(ROLE_ADMIN) %}
                                <a href="{{ url('user_show', {id: technicien.id}) }}">
                                    {{ technicien.nom ~ ' ' ~ technicien.prenom }}
                                </a>
                            {% else %}
                                {{ technicien.nom ~ ' ' ~ technicien.prenom }}
                            {% endif %}
                            {{ loop.last == false ? '<br>' }}
                        {% endfor %}
                    </td>
                </tr>
                {% if entretien.factureEntretienLigne and (is_granted(ROLE_ADMIN) or is_granted(ROLE_CLIENT)) %}
                    <tr>
                        <th>Facture</th>
                        <td>
                            {% if is_granted(ROLE_ADMIN) %}
                                <a href="{{ url('factures_facture_entretien_show_admin', {id: entretien.factureEntretienLigne.facture.id, client: client.id}) }}">Voir la facture</a>
                            {% else %}
                                <a href="{{ url('factures_facture_entretien_show', {id: entretien.factureEntretienLigne.facture.id}) }}">Voir la facture</a>
                            {% endif %}
                            <a data-toggle="tooltip" data-title="Imprimer la facture" class="ml-2" href="{{ url('factures_facture_entretien_pdf', {id: entretien.factureEntretienLigne.facture.id}) }}"><i class="fas fa-file-pdf mr-1"></i></a>

                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Commentaires</th>
                    <td>{{ entretien.commentaires|nl2br }}</td>
                </tr>

                </tbody>
            </table>

            {% if (is_granted(ROLE_ADMIN) or is_granted(ROLE_TECHNICIEN)) and entretien.statut.id in [STATUT_EN_ATTENTE, STATUT_VALIDE, STATUT_EN_COURS] %}
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalCloture">Clôturer</button>
                    <p class="p-0 small">
                        Après la clôture, les techniciens ne pourront plus ajouter d'horaire. Le chargé d'affaire ne pourra plus effectuer de modification. Le chargé d'affaires recevra un mail qui lui indiquera la fin de l'entretien.
                    </p>
                </div>
            {% endif %}

        </div>
        <div class="col-12 col-lg-5 column">


            <div class="">
                {% if is_granted(ROLE_TECHNICIEN) and formHoraire is defined %}
                    <h3 class="text-center mb-4">Mes horaires</h3>
                    <div class="border col-12">
                        <h5 class="text-center mt-2">Nouvelle saisie</h5>
                        {% if formHoraire.vars.value.id != null %}
                            <div>
                                Début : {{ formHoraire.vars.value.dateDebut|date('d/m/Y à H\\hi') }}
                            </div>
                        {% endif %}
                        {{ form_start(formHoraire) }}
                        {{ form_widget(formHoraire) }}
                        {{ form_end(formHoraire) }}
                    </div>
                    {% if horaires is not empty %}
                        <h5 class="text-center mt-3">Mes saisies</h5>
                        {% include 'entretien/include/_table_horaires.html.twig' with {noDisplayTech: true} %}
                    {% endif %}
                {% else %}
                    {% if horaires is not empty %}
                        <h3 class="text-center">Horaires</h3>
                        {% include 'entretien/include/_table_horaires.html.twig' %}
                    {% endif %}
                {% endif %}

                {% if is_granted(ROLE_ADMIN) and formHoraireNew is defined %}
                    {% if horaires is empty %}
                        <h3 class="text-center mb-4">Horaires</h3>
                    {% endif %}
                    <div class="border col-12">
                        <h5 class="text-center mt-2">Nouvelle saisie</h5>
                        {{ form_start(formHoraireNew) }}
                        {{ form_widget(formHoraireNew) }}
                        {{ form_end(formHoraireNew) }}
                    </div>

                {% endif %}
            </div>

            {% if files is not empty or is_granted(ROLE_TECHNICIEN) or is_granted(ROLE_ADMIN) %}

                <div class="my-3">
                    <h3 class="text-center mt-2">Fichiers</h3>
                    <div class="border col-12 py-3">
                        {% if files is not empty or entretien.entretienBonInterventions is not empty or entretien.entretienFicheInterventions is not empty %}
                            <ul class="list-style-type-none">
                                {# Bons d'intervention de contrat d'entretien #}
                                {% for entretienBonIntervention in entretien.entretienBonInterventions %}
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span>
                                            <i class="fas fa-file-pdf mr-1"></i>
                                            <a target="_blank" href="{{ url('entretien_bon_intervention_pdf', {id: entretienBonIntervention.id}) }}">Bon d'intervention{{ loop.last == false ? ' n°' ~ loop.index }}</a>
                                        </span>
                                        {% if (is_granted(ROLE_TECHNICIEN) and entretien.statut.id == STATUT_EN_COURS) or (is_granted(ROLE_ADMIN) and entretien.statut.id in [STATUT_EN_COURS,STATUT_TERMINE]) %}
                                            <span class="white-space-nowrap">
                                              <a href="{{ url('entretien_bon_intervention_edit', {id: entretienBonIntervention.id}) }}"><i class="fas fa-pen mr-1 rename_file_button"></i></a>
                                        </span>
                                        {% endif %}
                                    </li>
                                {% endfor %}

                                {# Fiches d'interventions #}
                                {% for entretienFicheIntervention in entretien.entretienFicheInterventions %}
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span>
                                            <i class="fas fa-file-pdf mr-1"></i>
                                            <a target="_blank" href="{{ url('entretien_fiche_intervention_pdf', {id: entretienFicheIntervention.id}) }}">Fiche d'intervention N°{{ entretienFicheIntervention.numero }}</a>
                                        </span>
                                        {% if (is_granted(ROLE_TECHNICIEN) and entretien.statut.id == STATUT_EN_COURS) or (is_granted(ROLE_ADMIN) and entretien.statut.id in [STATUT_EN_COURS,STATUT_TERMINE]) %}
                                            <span class="white-space-nowrap">
                                              <a href="{{ url('entretien_fiche_intervention_edit', {id: entretienFicheIntervention.id}) }}"><i class="fas fa-pen mr-1 rename_file_button"></i></a>
                                        </span>
                                        {% endif %}
                                    </li>
                                {% endfor %}




                                {% for file in files %}
                                    <li class="d-flex justify-content-between align-items-center item-file" data-file-origin="{{ replaceVariableFolderClient(dossier_fichier_entretiens, entretien.chargeAffaire.client.id, entretien.chargeAffaire.id) ~ entretien.id ~ '/' ~ file.basename }}">
                                        <span>

                                        {% if (file.extension|lower) in ['png', 'svg', 'jpeg', 'jpg', 'gif'] %}
                                            <i class="fas fa-file-image mr-1"></i>
                                        {% elseif (file.extension|lower) in ['pdf'] %}
                                            <i class="fas fa-file-pdf mr-1"></i>
                                        {% else %}
                                            <i class="fas fa-file mr-1"></i>
                                        {% endif %}
                                        <a target="_blank" href="{{ absolute_url(asset(replaceVariableFolderClient(dossier_fichier_entretiens, entretien.chargeAffaire.client.id, entretien.chargeAffaire.id) ~ entretien.id ~ '/' ~ file.basename )) }}" class="filename">{{ file.filename }}</a>
                                        </span>
                                        <span class="white-space-nowrap">
                                            {% if (is_granted(ROLE_ADMIN) and entretien.statut.id not in [STATUT_FACTURE]) or (is_granted(ROLE_TECHNICIEN) and entretien.statut.id in [STATUT_VALIDE,STATUT_EN_COURS]) %}
                                                <a href="{{ url('entretien_admin_delete_file', {id: entretien.id, client: client.id, file: file.basename}) }}"><i class="fas fa-trash mr-1"></i></a>
                                            {% endif %}
                                        </span>

                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if (is_granted(ROLE_TECHNICIEN) or is_granted(ROLE_ADMIN)) and formUploadFile is defined %}
                            {{ form_start(formUploadFile) }}
                            {{ form_widget(formUploadFile) }}
                            <div class="text-center form-group">
                                <button type="submit" class="btn btn-primary">Envoyer</button>
                            </div>
                            {{ form_end(formUploadFile) }}
                        {% endif %}

                        {% if is_granted(ROLE_TECHNICIEN) and entretien.statut.id == STATUT_EN_COURS  and entretien.entretienBonInterventions|length == 0 %}
                            <a href="{{ url('entretien_bon_intervention_new', {entretien: entretien.id}) }}"><i class="fas fa-clipboard-check mr-1"></i> Remplir le bon d'intervention de contrat d'entretien</a><br>
                        {% endif %}

                        {% if is_granted(ROLE_TECHNICIEN) and entretien.statut.id == STATUT_EN_COURS %}
                            <a href="{{ url('entretien_fiche_intervention_new', {entretien: entretien.id}) }}"><i class="fas fa-clipboard-check mr-1"></i> Remplir une fiche d'intervention</a>
                        {% endif %}
                    </div>
                </div>

            {% endif %}
        </div>
    </div>


    {% if (is_granted(ROLE_ADMIN) or is_granted(ROLE_TECHNICIEN)) and entretien.statut.id in [STATUT_EN_ATTENTE, STATUT_VALIDE, STATUT_EN_COURS] %}

        <div class="modal fade" id="modalCloture" tabindex="-1" role="dialog" aria-labelledby="modalCloture" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCloture">Clôture de l'entretien</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {#                    {% if facture.facturePaiements|length > 0 %}#}
                        <h5>Vous êtes sur le point de clôturer l'entretien.</h5>

                        <p class="p-0 small">
                            Après la clôture, les techniciens ne pourront plus ajouter d'horaire. Le chargé d'affaires ne pourra plus effectuer de modification.<br>Le chargé d'affaires recevra un mail qui lui indiquera la fin de l'entretien.
                        </p>
                        {#                    {% endif %}#}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <a class="btn btn-warning" href="{{ url('entretien_cloture', {id: entretien.id, client: entretien.chargeAffaire.client.id}) }}">Clôturer</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {#    {% include 'layout/_modal_rename_file.html.twig' %}#}



    {#    {% if (is_granted('ROLE_CLIENT') or is_granted('ROLE_ADMIN')) and entretien.statut.id == STATUT_EN_ATTENTE %}#}
    {#        {{ include('entretien/include/_delete_form.html.twig') }}#}
    {#    {% endif %}#}
{% endblock %}
