<nav class="navbar navbar-expand-xl navbar-dark bg-primary p-2 p-md-4">
    <a class="navbar-brand" href="{{ url('index') }}"><img src="{{ asset('assets/img/logos/logo_texte_CO2Services.png') }}" alt="logo" class="logo-text"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ app.request.attributes.get('_route') starts with 'index' ? 'active' }}">
                <a class="nav-link" href="{{ url('index') }}">Tableau de bord</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.attributes.get('_route') starts with 'livraison_' ? 'active' }}" href="{{ url('livraison_index') }}">Mes livraisons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.attributes.get('_route') starts with 'depannage' ? 'active' }}" href="{{ url('depannage_index') }}">Mes dépannages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.attributes.get('_route') starts with 'entretien' ? 'active' }}" href="{{ url('entretien_index') }}">Mes entretiens</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {{ app.request.attributes.get('_route') starts with 'travaux_' ? 'active' }} " href="{{ path('travaux_index') }}">Mes travaux</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {{ app.request.attributes.get('_route') starts with 'rappel_bouteille_' ? 'active' }} " href="{{ path('rappel_bouteille_index') }}">Retour de bouteilles</a>
            </li>

            {#            <li class="nav-item ">#}
            {#                <a class="nav-link" href="{{ path('travaux_horaire_technicien_index') }}">Mes horaires</a>#}
            {#            </li>#}
            {#            <li class="nav-item {{ app.request.attributes.get('_route') starts with 'client_' ? 'active' }}">#}
            {#                <a class="nav-link" href="{{ path('client_index') }}">Clients</a>#}
            {#            </li>#}
            {#            <li class="nav-item {{ app.request.attributes.get('_route') starts with 'technicien_' ? 'active' }}">#}
            {#                <a class="nav-link" href="{{ url('technicien_index') }}">Techniciens</a>#}
            {#            </li>#}

            {#            <li class="nav-item dropdown {{ app.request.attributes.get('_route') starts with 'enseigne_' ? 'active' }}">#}
            {#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
            {#                    Réglages#}
            {#                </a>#}
            {#                <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
            {#                    <a class="dropdown-item {{ app.request.attributes.get('_route') starts with 'enseigne_' ? 'active' }}" href="{{ url('enseigne_index') }}">Enseignes</a>#}
            {#                    <a class="dropdown-item" href="#">Another action</a>#}
            {#                </div>#}
            {#            </li>#}


            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#">Entretiens</a>#}
            {#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#">Travaux</a>#}
            {#            </li>#}
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown {{ app.request.attributes.get('_route') starts with 'user_profil' ? 'active' }}">
                <a class="nav-link dropdown-toggle text-center d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="d-inline-block pr-1">
                        {{ app.user.nomPrenom }}<br>
                        Technicien
                    </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item {{ app.request.attributes.get('_route') starts with 'user_profil' ? 'active' }}" href="{{ url('user_profil') }}">Mon compte</a>
                    <a class="dropdown-item {{ app.request.attributes.get('_route') starts with 'documentation' ? 'active' }}" href="{{ url('documentation_technicien') }}"><i class="far fa-life-ring"></i> Aide</a>
                    <a class="dropdown-item text-danger {{ app.request.attributes.get('_route') starts with 'app_logout' ? 'active' }}" href="{{ url('app_logout') }}">Déconnexion</a>
                </div>
            </li>
        </ul>

    </div>
</nav>