{% extends 'mail/base_mail.html.twig' %}

{% block title %}Livrée{% endblock %}

{# @var livraison \App\Entity\Livraison #}

{% block body %}
    <div>
        <p>
            Bonjour,<br>
            <br>
            Votre livraison n°{{ livraison.id }} a été livrée. Merci d'avoir choisi nos services.<br>
            <br>
            REF : {{ livraison.reference }}<br>
            Enseigne d'arrivée : {{ livraison.enseigneArrivee.nom }}<br>
            Adresse d'arrivée : {{ livraison.adresseArrivee|nl2br }}<br>
            <br>
        </p>
        <div class="text-center mb-2">
            <a href="{{ url('livraison_show', {id: livraison.id}) }}" class="btn btn-primary">Voir la
                livraison</a>
        </div>
        <p>
            <br>
            Cordialement,<br>
            <br>
            CO2Services
        </p>
    </div>
{% endblock %}
